@using System.Text
@model Telerik_ForumTeamProject.Models.ViewModels.PostViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

<div>
    <h2>@Model.Title</h2>
    <p>@Model.Content</p>
    <p>@Model.PostDate</p>
    <p>Likes: @Model.Likes</p>
    <p>Creator: @Model.UserName</p>
    @{
        StringBuilder stringBuilder = new StringBuilder();
        foreach (var tag in Model.Tags)
        {
            stringBuilder.Append($"{tag}, ");
        }
        <p>Tags: @stringBuilder</p>
        
    }
    <h3>Comments:</h3>
    @foreach (var comment in Model.Comments)
    {
        <div>
            <p>@comment.Content</p>
            <button action="submit">Show replies</button>
        </div>
    }
</div>